.comment-section {
}

.comments-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 500px;
}

.add-comment-form {
  display: block;
}

.comment {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}