.mainList_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.select_critere_form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.PopularList_mov_title {
  font-size: 20px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
